[Desktop Entry]
Name=Fonts viewer
Name[de]=Schriftartenanzeige
Name[es]=Visor de fuentes
Name[fr]=Visionneuse de polices
Name[it]=Visualizzatore di caratteri
Name[ru]=Просмотр шрифтов
Comment=Preview and install .ttf files
Comment[de]=Vorschau und Installation von TTF-Dateien
Comment[es]=Obtener una vista previa e instalar archivos .ttf
Comment[fr]=Prévisualiser et installer les fichiers .ttf
Comment[it]=Visualizza in anteprima e installa i file .ttf
Comment[ru]=Просмотрите и установите .ttf файлы
Exec=mintfonts %F
Termianl=false
Type=Application
Encoding=UTF-8
Categories:Application;Utils;
Icon=cs-fonts
MimeType=application/x-font-ttf;application/x-font-bdf;application/x-font-ghostscript;application/x-font-linux-psf;application/x-font-otf;application/x-font-pcf;application/x-font-snf;application/x-font-ttf
