[Desktop Entry]
Name=Fonts viewer
Name[de]=Schriftartenanzeige
Name[es]=Visor de fuentes
Name[fr]=Visionneuse de polices
Name[it]=Visualizzatore di caratteri
Name[ru]=Просмотрщик шрифтов
Comment=Preview and install font files
Comment[de]=Vorschau und Installation von Schriftdateien
Comment[es]=Obtener una vista previa e instalar archivos de fuentes
Comment[fr]=Prévisualiser et installer les fichiers de polices
Comment[it]=Anteprima e installazione dei file dei font
Comment[ru]=Просмотр и установка файлов шрифтов
Exec=mintfonts %F
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Utility;Accessories;
Icon=preferences-desktop-font
MimeType=application/x-font-ttf;application/x-font-bdf;application/x-font-ghostscript;application/x-font-linux-psf;application/x-font-otf;application/x-font-pcf;application/x-font-snf;application/x-font-ttf
